.project{
    padding: 2em 0 5em 0;
    
    .project__wrapper{
        padding-bottom: 1em;
        .project__image{
            -webkit-mask-image: linear-gradient(to bottom, transparent -100%, black 72%);
            mask-image: linear-gradient(to bottom, transparent -100%, black 72%);
            .image__wrapper{
                border-radius: 15px;
                overflow: hidden;
            }
        }
        .project__title h2{
            padding: 1.25em 0 0.1em 0;
            font-size: 1.275rem;
            text-align: center;
            font-weight: 500;
            text-transform: capitalize;
        }
        .project__description{
            text-align: center;
            p{
                font-size: 0.9rem;
            }
        }
        .project__link{
            display: flex; 
            flex-direction: column;
            align-items: center;
            .link__wrapper{
                padding-top: 1em;
                display: flex; 
                justify-content: space-around;
                align-content: center;
                margin-bottom: 1.2em;
                .link__btn1{
                    background-color: $dark-grey;
                    color: $light-grey;
                    cursor: pointer;
                    border-radius: 100px;
                    display: inline-block;
                    padding: 0 1.5em;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    transition-duration:0.8s;
                    .btn1__text{
                        padding: 10px 0 10px 0;
                        margin: 0 ;
                    }
                }
                .link__btn1:hover{
                    background-color:$darker-grey;
                }
                .link__btn2{
                    background-color: $white;
                    cursor: pointer;
                    display: inline-block;
                    border: 1px solid $dark-grey;
                    border-radius: 100px;
                    padding: 0 1em;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    transition-duration:0.8s;
                    display: none;
                    .btn2__text{
                        padding: 10px;
                        margin: 0 ;
                    }
                } 
                .link__btn2:hover{
                    background-color:$dark-grey;
                    color: $light-grey;
                }
            }
        }
    }
}


@media only screen and (min-width: 300px) {
    .project{
        
        .project__wrapper{
            .project__description p{
                font-size: 1rem;
            }
            .wrapper{
                .project__link{
               
                    .link__wrapper{
                        
                        .link__btn1{
                            margin-right: .9em;
                            
                            .btn1__text{
                                padding: 10px 0 10px 0;
                                margin: 0 ;
                            }
                        }
                        .link__btn2{
                            display: inline-block;
                        }
                    }   
                }
            }
        }
    }      
}

@media only screen and (min-width: 450px) {
    .project{
        .project__wrapper{
            .project__description p{
                font-size: 1.2rem;
            }
            .wrapper{
                .project__title h2{
                    font-size: 1.7rem;
                }
                .project__link{
                    .link__wrapper{
                        
                        .link__btn1{
                            margin-right: .9em;
                            
                            .btn1__text{
                                padding: 10px 0 10px 0;
                                margin: 0 ;
                            }
                        }
                        .link__btn2{
                            display: inline-block;
                        }
                    }   
                }
            }
            
        }
    }      
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 925px) {
    .project{
        .project__wrapper{
            padding-bottom: 2em;
            display: flex;
            justify-content: space-between;
            .project__description p{
                font-size: 1rem;
            }
            .project__image{
                width: 46%;
            }
            .wrapper{
                width: 48%;
                .project__title h2{
                    padding: 0;
                    text-align: left;
                    font-size: 1.6rem;
                }
                .project__description{
                    text-align: left;
                }
                .project__link{
                    align-items: flex-start;
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}