/* Button 1 */
.button{
    margin: 1.37em 1em 0 0;
    background-color: $dark-grey;
    display: inline-block;
    width: 10em;
    border-radius: 234px;
    font-family: $Inter;
    text-align: center;
    padding: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    .button__content{
        color: $light-grey;
        text-transform: capitalize;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0;
        font-size: 1.1rem;
    }
}
.button:hover{
    background-color: #4e4673;
    color: $dark-grey;
}

/* Button contact */
.button--contact{
    background-color: white;
    display: inline-block;
    font-family: $Inter;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 40px;
    border-radius: 100px;
    border: 2px solid $light-purple;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition-duration: 0.8s;
    .button--contact__icon{
        color: $light-purple;
        transition-duration:0.8s;
    }
    .button--contact__content{
        color:  $light-purple;
        text-transform: capitalize;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0 0 0 0.5em;
        font-size: 1.1rem;
        font-weight: 500;
        transition-duration: 0.8s;
    }
}
.button--contact:hover{
    background-color: $light-purple;
    .button--contact__icon{
        color:white;
    }
    .button--contact__content{
        color: white;
    }
}

/* Button Projects */
.button--projects{
    background-color: white;
    display: inline-block;
    font-family: $Inter;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 40px;
    border-radius: 100px;
    border: 2px solid $light-purple;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9em;
    transition-duration: 0.8s;
    .button--projects__content{
        color:  $light-purple;
        text-transform: capitalize;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0 0 0 0.5em;
        font-size: 1rem;
        font-weight: 500;
        transition-duration: 0.8s;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 570px) {
    .button{
        .button__content{
            font-size: 1.2rem;
        }

    }

}

/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
    .button{
        .button__content{
            font-size: 1.38rem;
        }

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}