.button{
    margin: 1.37em 1em 0 0;
    background-color: $dark-grey;
    display: inline-block;
    width: 10em;
    border-radius: 234px;
    font-family: $Inter;
    text-align: center;
    padding: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    .button__content{
        color: $light-grey;
        text-transform: capitalize;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0;
        font-size: 1.1rem;
    }
}
.button:hover{
    background-color: #4e4673;
    color: $dark-grey;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 570px) {
    .button{
        .button__content{
            font-size: 1.2rem;
        }

    }

}

/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
    .button{
        .button__content{
            font-size: 1.38rem;
        }

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}