.content-section-projects{
    height: 100%;
    background-color: $light-grey;
    padding: 4.17em 0 ;
    .content-section-projects__wrapper{
        .content-section-projects__project{
            .card+.card{
                margin-right: 10px;
            }
        }
        
    }
}

/* Small devices (portrait tablets and large phones, 480px and up) */
@media only screen and (min-width: 480px) {
    .content-section-projects__project{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        
        .card-left{
            width: 46%;
        }
        .card-right{
            width: 46%;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 767px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

