.form{
    background-color:$light-grey;
    padding: 2.5em 0 20vh 0;
    display: flex;
    z-index: 1;
    margin: auto 0;
    
    .form__wrapper{
        margin-top: 4em;
        
        .form__params{
            width: 100%;
            background-color: $white;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
            
            .form__content{
                padding: 38px;
                font-family: $font-trebuchet;
                font-size: 1.25rem;
                
                .form__text{
                    font-size: 1.05rem;
                    font-weight: 100;
                    color: $dark-grey;
                    letter-spacing: 0.25px;
                    font-family: $Inter;
                    padding-bottom: 0.6em;
                }
            }
        }
        .info{
            margin: 0 0 0 0;
        }
    }
}

/* form */
.contact-form {
    .contact-form__wrapper{
        padding-top: 1em;
    }
    .contact-form__field {
        position: relative;
        margin: 0px 0 1.38em 0;
        padding-top: 1em;
        .field__label{
            margin-bottom: 1.5em;
            font-family: $Inter;
            font-size: 0.95rem;
            font-weight: 400;
            color: #888;
            cursor: text;
            transition: transform .2s ease-in-out;
        }
        .field__message{
            padding: 0.5em 0.6em;
            height: 8em;
            border-width: 1.7px;
            border: 1.7px solid #b2b2b2;
            
        }
        .field__message:focus{
            outline: 1px solid $light-grey; 
        }
    }
    .input-text {
        -webkit-appearance: none;
        -webkit-border-radius:0px;
        display: block;
        width: 100%;
        height: 36px;
        border-width: 0 0 1.7px 0;
        border-color: black; 
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        
        &:focus {
            outline: none;
        }
        &:focus,
        &.not-empty {
            + .label {
                transform: translateY(-14px);
            }
        }
    }

    .label {
        position: absolute;
        bottom: 11px;
        font-family: $Inter;
        font-size: 0.95rem;
        line-height: 56px;
        font-weight: 400;
        color: #888;
        cursor: text;
        transition: transform .2s ease-in-out;
        padding-bottom: 0.4em;
    }

    .submit-btn {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-top: 0.5em;
        
        background-color: $dark-grey;
        border-radius: 0;
        color: $light-grey;
        font-family: Raleway, sans-serif;
        text-transform: capitalize;
        letter-spacing: 2px;
        font-size: 16px;
        line-height: 24px;
        display: inline-block;
        padding: 8px 16px 8px 16px;
        border: none;
        cursor: pointer;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}

textarea {
    width: 100%;
    height: 2rem;
    resize: none;
    color: $dark-grey;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 480px) {
    .contact-form{
        padding-top: 5px;
        .contact-form__wrapper{
            display: flex;
            justify-content: space-between;
        
            .contact-form__name{
                width: 46.5%;
            }
            .contact-form__email{
                width: 46.5%;
            }
            
        }
    }
    
}

/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
    .form{
        .form__wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            .form__params{
                width: 59%;
                max-width: 40em;
                
            }
            .info{
                margin: 0 0 0vh 0;
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}