.content-section-skills{
    background-color: #8c8fb9;
    .content-section-skills__wrapper{
        padding: 5em 0 5em 0;

        .content-section-skill__content{
            .content-section-skill__text{
                padding: 0 0 2em 0;
                .content-section-skills__title{
                    padding-bottom: 0.31em;
                    font-family: $Fraunces;
                    font-size: 2.4em;
                    font-weight: 500;
                }
                .content-section-skills__paragraph{
                    padding-top: 1em;
                }
            }
            .content-section-skills__card{
                width: 100%;
                background-color: none;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                font-family: $Inter;

                .card__skill{
                    padding-top: 2.04em;
                    text-align: center;
                    
                }
            }
        }
    }
}


/* Small devices (portrait tablets and large phones, 480px and up) */
@media only screen and (min-width: 480px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 650px) {
    .content-section-skills{
    
        .content-section-skills__wrapper{
            
    
            .content-section-skill__content{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                .content-section-skill__text{
                    
                    width: 38%;
                    .content-section-skills__title{
                        font-size: 2.4em;
                        
                    }
                    
                }
                .content-section-skills__card{
                    width: 53.5%;
                    padding: 3.8em 0 1.7em 0;
                }
                
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
