.hero{    
    background:linear-gradient(80deg,$tan,$pink,$light-purple-2,$pink);
    background-size: 200% 200%; 
    background-repeat: no-repeat;
    .hero__wrapper{
        background: url(../assets/images/mountain-nature-bg.png);
        height: 1040px; //1040px;
        color: $dark-grey;
        width: 100%;
        z-index: 1;
        background-position: 0px -0px;
        transform-style: preserve-3d;
        .hero__content h1{
            padding: 84px 0 1.2px 0;
            margin: 0;
            font-family: $Fraunces;
            font-style: italic;
            font-weight: 300;
            font-size: 3.2rem;
        }
        .hero__subtitle{
            font-size: 2.35rem;
            font-family: $Fraunces;
            font-weight: 500;
            letter-spacing: 1px;
            line-height: 1.2em;
        } 
        .hero__button{
            display: block;
            text-align: left;
            padding-bottom: 400px;
        }
        .hero__contact{
            position: absolute;
            bottom: 0;
            right: 8%;
            width: 125px;
            animation: rotating 7s linear infinite;
        }
        .hero__contact:hover{
            animation-play-state: paused;
        }
    }
}
/* keyframes */
@keyframes rotating {
    from{
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
        transform-style: preserve-3d;
        will-change: auto;
    }
    to{
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(360deg) skew(0deg);
        transform-style: preserve-3d;
        will-change: auto;
    }
}

.hero--secondary{

    .hero__wrapper--secondary{
        height: 100%; //1040px;
        color: $dark-grey;
        width: 100%;
        z-index: 1;
        background-position: 0px -0px;
        display: flex;
        justify-content: center;
        .hero__content--secondary h1{
            padding: 4.5em 0 1.2px 0;
            margin: 0 0 1.25em 0;
            font-family: $Fraunces;
            text-align: center;
            font-weight: 500;
            font-size: 1.75rem;
            line-height: 1.25em;
        }
        .hero__subtitle--secondary{
            font-size: 1rem;
            font-family: $Inter;
            font-weight: 400;
            line-height: 1.2em;
            display: flex;
            justify-content: center;
            margin-top: 2.75em;
            text-align: center;
            padding: 0em 0 5em 0;
        } 
        .hero__button--secondary{
            display: block;
            text-align: left;
        }
    }
}

/* Small devices (portrait tablets and large phones, 228px and up) */
@media screen and (min-width: 228px) {
    .hero{
        .hero__wrapper{

            .hero__button{
                
                padding-bottom: 440px;
            }
            
        }
    }
}
@media screen and (min-width: 256px) {
    .hero{
        .hero__wrapper{

            .hero__button{
                
                padding-bottom: 500px;
            }
            
        }
    }
}
@media screen and (min-width: 352px) {
    .hero{
        .hero__wrapper{

            .hero__button{
                
                padding-bottom: 550px;
            }
            
        }
    }
}
@media screen and (min-width: 356px) {
    .hero{
        .hero__wrapper{

            .hero__button{
                
                padding-bottom: 550px;
            }
            
        }
    }
}


@media screen and (min-width: 399px) {
    .hero{
        .hero__wrapper{
            .hero__content h1{
                padding: 110px 0 1.2px 0;
                font-size: 4rem;
            }
            .hero__subtitle{
                font-size: 2.55rem;
            }
            .hero__button{
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding-bottom: 475px;
            }
            .hero__contact{
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                right: 8%;
                width: 125px;
                
            }
            
        }
    }
    .hero--secondary{
        .hero__wrapper--secondary{
            height: 100%; //1040px;

            .hero__content--secondary h1{
                padding: 110px 0 1.2px 0;
                font-size: 1.8rem;
                width: 80%;
                margin: 0 auto;
            }
            
            .hero__subtitle--secondary{
                font-size: 1.1rem;
            }
        }
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 570px) {
    .hero{
        .hero__wrapper{
            .hero__content h1{
                padding: 110px 0 1.2px 0;
                font-size: 4rem;
            }
            .hero__subtitle{
                font-size: 2.55rem;
                
            }
            .hero__button{
                display: block;
                text-align: left;
                padding-bottom: 575px;
            }
            .hero__contact{
                position: absolute;
                bottom: 0;
                right: 4%;
                width: 150px;
                
            }
            
        }
    }

    .hero--secondary{
        .hero__wrapper--secondary{
            height: 100%; //1040px;

            .hero__content--secondary h1{
                padding: 5em 0 1.2px 0;
                font-size: 2rem;
                width: 80%;
                margin: 0 auto;
            }
            
            .hero__subtitle--secondary{
                font-size: 1.125rem;
                padding-bottom: 6em;
            }
        }
    }
}

/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
    .hero{
        .hero__wrapper{
            .hero__content h1{
                padding: 110px 0 1.2px 0;
                font-size: 5rem;
            }
            .hero__subtitle{
                font-size: 3rem;
            }
            .hero__button{
                display: block;
                text-align: left;
                padding-bottom: 520px;
            }
            .hero__contact{
                position: absolute;
                bottom: 0;
                right: 4%;
                width: 175px;
                
            }
        }
    }
    .hero--secondary{
        .hero__wrapper--secondary{
            height: 100%; //1040px;
            .hero__content--secondary h1{
                padding: 3.8em 0 1.2px 0;
                font-size: 2.78rem;
                width: 86.5%;
                margin: 0 auto;
                max-width: 700px;
            }
            .hero__subtitle--secondary{
                padding: 0.3em 0 5.7em 0;
                margin-top: 1.8em;
                font-size: 1.35rem;
                
            }
        }
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hero{
        .hero__wrapper{
            .hero__contact{
                right: 3%;
                width: 175px;
                
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1390px) {
    .hero{
        .hero__wrapper{
            .hero__contact{
                
                right: 0;
                width: 175px;
                
            }
        }
    }
}