.hero{
    //background-image: url(../assets/images/mountain-nature-bg.png);
    height: 65em; //1040px;
    background-position: 70.4% 27.5%; 
    color: $dark-grey;

    .hero__content h1{
        padding-top: 280px;
        margin: 0;
        font-family: $font-felice-bold-italics;
        font-weight: 300;
        letter-spacing: 0.7px;
        font-size: 3.6rem;
    }
    .hero__subtitle{
        font-size: 3rem;
        font-family: 'Trebuchet MS', sans-serif;
        font-weight: 600;
        font-weight: bold;
        letter-spacing: 1px;
    } 
}