.info{
    padding-top: 1.2em;
    width: 100%;

    .info__content{
        text-transform: uppercase;
        font-size: 2rem;
        color:  $grey;
        .info__header{
            
        }
        .info__text{

        }
        
        
    }
}