.info{
    padding: 1.2em 0 4.3em 0 ;
    width: 100%;
    max-width: 400px;
    .info__socials{
        padding-top: 1.8em;
        text-transform: uppercase;
        font-size: 0.85rem;
        color: $grey;
        letter-spacing: 1.2px;
        
    }
    .info__icon{
        color: $dark-grey;
        margin-right: 0.8em;
        
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 480px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 767px) {
    .info{
        width: 35%;
        padding-top: 0;
        .info__content{
            padding-top: 0;
            padding-bottom: 1.8em;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}