/* Main section */
.content-section{
    font-family: $Inter;
    text-align: left;
    .content-section__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.content-section--white{
    background-color: white;
    padding: 7em 0 7em 0;   
}
.content-section--grey{
    padding: 4em 0 4em 0;
    margin: auto;
    background-color: $light-grey;
}

/* about section */
.content-about{
    font-family: $Inter;
    text-align: left;
    .content-about__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.content-about--white{
    background-color: white;
    padding: 7em 0 7em 0;   
}
.content-about--grey{
    padding: 4em 0 4em 0;
    margin: auto;
    background-color: $light-grey;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 480px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 767px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}