.layout{
    background-color: $tan;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .layout__img{
        width: 375px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .layout__text{
        font-family: $font-neaue-light;
        font-size: 0.9em;
        color: $dark-grey;
        padding-top: 0.2em;
        text-decoration: none;
    }
}