.header{

    .header__wrapper{
        height: 29vh;
        background: url(../assets/images/mountain-nature-bg.png);
        z-index: 1;
        color: $dark-grey;

        .header__content{

            .header__title{    
                padding-top: 130px;
                padding-bottom: 2px;
                margin: 0;
                font-family: $font-felice-bold-italics;
                font-weight: 300;
                font-size: 2.3rem;
                border-bottom: 1.2px solid $dark-grey;
            }
        }
        
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 471px) {
    .header__wrapper{
        .header__content{
            .header__title{
                
                padding-top: 130px;
                padding-bottom: 2px;
                margin: 0;
                font-size: 3.6rem;
                
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}