.header{

    .header__wrapper{
        height: 15.98em;
        background:linear-gradient(90deg,$light-grey,$tan,$pink,$light-purple-2,$pink,$light-grey);
        background-size: 400% 400%; 
        animation: gradient 12s ease-in infinite;
        z-index: 1;
        color: $dark-grey;
        .header__content{
            .header__title{    
                padding-top: 125px;
                padding-bottom: 0.5em;
                margin: 0;
                font-family: $Fraunces;
                font-weight: 300;
                font-size: 1.875rem;
                border-bottom: 1.2px solid $dark-grey;
            }
        }
        
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 475px) {
    .header{
        .header__wrapper{
            .header__content{
                .header__title{
                    
                    font-size: 2.1rem;
                    border-bottom: 1.2px solid $dark-grey;
                }
            }
        }
    }
}

/* Medium devices (landscape tablets, 766px and up) */
@media only screen and (min-width: 766px) {
    .header{
        .header__wrapper{
            .header__content{
                .header__title{
                    padding-bottom: 0.2em;
                    font-size: 3.5rem;
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}