@font-face {
  font-family: "Resgak-Semi-Bold";
  src: url("../assets/fonts/Resgak/Resgak-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Felice-Bold-Italics";
  src: url("../assets/fonts/Felice-Bold/Felice-W01-Bold-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Neaue-Singular-Bold";
  src: url("../assets/fonts/NeueSingular/Fontspring-DEMO-neuesingular-h-bold.otf") format("truetype");
}
@font-face {
  font-family: "Neaue-Singular-regular";
  src: url("../assets/fonts/NeueSingular/Fontspring-DEMO-neuesingular-d-regular.otf") format("truetype");
}
@font-face {
  font-family: "Neaue-Singular-light";
  src: url("../assets/fonts/NeueSingular/Fontspring-DEMO-neuesingular-v-light.otf") format("truetype");
}
/* fonts */
/* colors */
.navbar {
  margin-top: 0.745pt;
  text-align: center;
  font-family: "Neaue-Singular-regular", sans-serif;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  width: 100%;
  height: 0;
  z-index: 1;
  display: flex;
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.1em;
}

.nav__logo {
  color: #2e3047;
  cursor: pointer;
  text-decoration: none;
  flex-grow: 1;
  font-size: 1.2rem;
  width: 20%;
}

.nav-menu {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 0;
}

.nav-links {
  color: #2e3047;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-size: 0.98rem;
  align-self: center;
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #2e3047;
}

.navbar__icon-wrapper {
  display: none;
}

@media screen and (max-width: 766px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #eadbcd;
    filter: opacity(120%);
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #2e3047;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
    color: #2e3047;
    margin: 0;
  }
  .navbar__icon-wrapper {
    padding: 2px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    color: #2e3047;
  }
  .navbar__icon-wrapper .icon {
    cursor: pointer;
  }
}
/* Button 1 */
.button {
  margin: 1.37em 1em 0 0;
  background-color: #2e3047;
  display: inline-block;
  width: 10em;
  border-radius: 234px;
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.button .button__content {
  color: #f8f8f8;
  text-transform: capitalize;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0;
  font-size: 1.1rem;
}

.button:hover {
  background-color: #747baf;
  color: #2e3047;
}

/* Button contact */
.button--contact {
  background-color: white;
  display: inline-block;
  font-family: "Inter", sans-serif;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 40px;
  border-radius: 100px;
  border: 2px solid #a39ac4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition-duration: 0.8s;
}
.button--contact .button--contact__icon {
  color: #a39ac4;
  transition-duration: 0.8s;
}
.button--contact .button--contact__content {
  color: #a39ac4;
  text-transform: capitalize;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 0 0 0.5em;
  font-size: 1.1rem;
  font-weight: 500;
  transition-duration: 0.8s;
}

.button--contact:hover {
  background-color: #a39ac4;
}
.button--contact:hover .button--contact__icon {
  color: white;
}
.button--contact:hover .button--contact__content {
  color: white;
}

/* Button Projects */
.button--projects {
  background-color: white;
  display: inline-block;
  font-family: "Inter", sans-serif;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 40px;
  border-radius: 100px;
  border: 2px solid #a39ac4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9em;
  transition-duration: 0.8s;
}
.button--projects .button--projects__content {
  color: #a39ac4;
  text-transform: capitalize;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 0 0 0.5em;
  font-size: 1rem;
  font-weight: 500;
  transition-duration: 0.8s;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 570px) {
  .button .button__content {
    font-size: 1.2rem;
  }
}
/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
  .button .button__content {
    font-size: 1.38rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.navbar__link--primary {
  font-family: "Neaue-Singular-light", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  word-spacing: 0.22em;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.navbar__link--primary:hover {
  text-decoration: underline;
}

.navbar__link--secondary {
  color: #ffffff;
  font-family: "Neaue-Singular-light", sans-serif;
  text-transform: capitalize;
  font-size: 1rem;
  text-decoration: none;
}

.navbar__link--secondary:hover {
  text-decoration: underline;
}

.hero {
  background-color: #eadbcd;
}
.hero .hero__wrapper {
  background: url(../assets/images/mountain-nature-bg.png);
  height: 1040px;
  color: #2e3047;
  width: 100%;
  z-index: 1;
  background-position: 0px 0px;
  transform-style: preserve-3d;
}
.hero .hero__wrapper .hero__content h1 {
  padding: 84px 0 1.2px 0;
  margin: 0;
  font-family: "Fraunces", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 3.2rem;
}
.hero .hero__wrapper .hero__subtitle {
  font-size: 2.35rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2em;
}
.hero .hero__wrapper .hero__button {
  display: block;
  text-align: left;
  padding-bottom: 400px;
}
.hero .hero__wrapper .hero__contact {
  position: absolute;
  bottom: 0;
  right: 8%;
  width: 125px;
  animation: rotating 7s linear infinite;
}
.hero .hero__wrapper .hero__contact:hover {
  animation-play-state: paused;
}

/* keyframes */
@keyframes rotating {
  from {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    transform-style: preserve-3d;
    will-change: auto;
  }
  to {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(360deg) skew(0deg);
    transform-style: preserve-3d;
    will-change: auto;
  }
}
.hero--secondary {
  background-color: #eadbcd;
}
.hero--secondary .hero__wrapper--secondary {
  background: linear-gradient(90deg, #f8f8f8, #eadbcd, #fccfce, #b6abde, #fccfce, #f8f8f8);
  background-size: 400% 400%;
  animation: gradient 13s ease-in infinite;
  height: 400px;
  color: #2e3047;
  width: 100%;
  z-index: 1;
  background-position: 0px 0px;
  display: flex;
  justify-content: center;
}
.hero--secondary .hero__wrapper--secondary .hero__content--secondary h1 {
  padding: 18vh 0 1.2px 0;
  margin: 0 0 1.25em 0;
  font-family: "Fraunces", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.25em;
}
.hero--secondary .hero__wrapper--secondary .hero__subtitle--secondary {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  display: flex;
  justify-content: center;
  margin-top: 2.75em;
}
.hero--secondary .hero__wrapper--secondary .hero__button--secondary {
  display: block;
  text-align: left;
}

@media screen and (min-width: 300px) {
  .hero .hero__wrapper .hero__content h1 {
    padding: 110px 0 1.2px 0;
    font-size: 4rem;
  }
  .hero .hero__wrapper .hero__subtitle {
    font-size: 2.55rem;
  }
  .hero .hero__wrapper .hero__button {
    padding-bottom: 475px;
  }
  .hero .hero__wrapper .hero__contact {
    right: 8%;
    width: 125px;
  }
}
@media screen and (min-width: 376px) {
  .hero .hero__wrapper .hero__button {
    padding-bottom: 525px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 570px) {
  .hero .hero__wrapper .hero__content h1 {
    padding: 110px 0 1.2px 0;
    font-size: 4rem;
  }
  .hero .hero__wrapper .hero__subtitle {
    font-size: 2.55rem;
  }
  .hero .hero__wrapper .hero__button {
    display: block;
    text-align: left;
    padding-bottom: 575px;
  }
  .hero .hero__wrapper .hero__contact {
    position: absolute;
    bottom: 0;
    right: 4%;
    width: 150px;
  }
  .hero--secondary .hero__wrapper--secondary {
    height: 470px;
  }
  .hero--secondary .hero__wrapper--secondary .hero__content--secondary h1 {
    padding: 110px 0 1.2px 0;
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;
  }
  .hero--secondary .hero__wrapper--secondary .hero__subtitle--secondary {
    font-size: 1.125rem;
  }
}
/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
  .hero .hero__wrapper .hero__content h1 {
    padding: 118px 0 1.2px 0;
    font-size: 5rem;
  }
  .hero .hero__wrapper .hero__subtitle {
    font-size: 3rem;
  }
  .hero .hero__wrapper .hero__button {
    display: block;
    text-align: left;
    padding-bottom: 520px;
  }
  .hero .hero__wrapper .hero__contact {
    position: absolute;
    bottom: 0;
    right: 4%;
    width: 175px;
  }
  .hero--secondary .hero__wrapper--secondary {
    height: 670px;
  }
  .hero--secondary .hero__wrapper--secondary .hero__content--secondary h1 {
    padding: 4.5em 0 1.2px 0;
    font-size: 2.78rem;
    width: 86.5%;
    margin: 0 auto;
    max-width: 700px;
  }
  .hero--secondary .hero__wrapper--secondary .hero__subtitle--secondary {
    margin-top: 1.8em;
    font-size: 1.35rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero .hero__wrapper .hero__contact {
    right: 3%;
    width: 175px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1390px) {
  .hero .hero__wrapper .hero__contact {
    right: 0;
    width: 175px;
  }
}
.paragraph-text {
  font-size: 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 480px) {
  .paragraph-text {
    font-size: 1.125em;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 767px) {
  .paragraph-text {
    font-size: 1.25rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.footer {
  background-color: #f8f8f8;
  height: 100%;
}
.footer .footer__header {
  padding-bottom: 2.45em;
}
.footer .footer__header .footer__title {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  color: black;
  font-size: 1.75rem;
  text-transform: capitalize;
}
.footer .footer__header .footer__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: black;
  opacity: 0.75;
  font-size: 0.875rem;
  text-transform: capitalize;
}
.footer .footer__links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.footer .footer__socials {
  padding-top: 30px;
}

.footer__column {
  list-style: none;
  padding: 0;
  width: 50%;
}

.column__link p {
  color: black;
  font-size: 14px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 478px) {
  .footer .footer__wrapper .footer__navigation {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
  }
  .footer .footer__wrapper .footer__navigation .footer__links {
    width: 70%;
  }
  .footer .footer__wrapper .footer__navigation .footer__socials {
    padding-top: 0;
    margin: 0 auto 0 0;
  }
}
/* Medium devices (landscape tablets, 766px and up) */
@media only screen and (min-width: 766px) {
  .footer .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .footer__wrapper .footer__navigation {
    margin: 0 auto;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Main section */
.content-section {
  font-family: "Inter", sans-serif;
  text-align: left;
}
.content-section .content-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-section--white {
  background-color: white;
  padding: 7em 0 7em 0;
}

.content-section--grey {
  padding: 4em 0 4em 0;
  margin: auto;
  background-color: #f8f8f8;
}

/* about section */
.content-about {
  font-family: "Inter", sans-serif;
  text-align: left;
}
.content-about .content-about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-about--white {
  background-color: white;
  padding: 7em 0 7em 0;
}

.content-about--grey {
  padding: 4em 0 4em 0;
  margin: auto;
  background-color: #f8f8f8;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.layout {
  background-color: #eadbcd;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout .layout__content {
  position: relative;
}
.layout .layout__content .layout__img {
  width: 90vw;
  max-width: 30em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  position: relative;
  border-radius: 26px;
}
.layout .layout__content .layout__img .layout__img--formatting {
  display: block;
}
.layout .layout__content .layout__text {
  font-family: "Neaue-Singular-light", sans-serif;
  font-size: 0.9em;
  color: #2e3047;
  padding-top: 0.2em;
  text-decoration: none;
  text-align: center;
}

.header .header__wrapper {
  height: 18em;
  background: linear-gradient(90deg, #f8f8f8, #eadbcd, #fccfce, #b6abde, #fccfce, #f8f8f8);
  background-size: 400% 400%;
  animation: gradient 12s ease-in infinite;
  z-index: 1;
  color: #2e3047;
}
.header .header__wrapper .header__content .header__title {
  padding-top: 125px;
  padding-bottom: 0.5em;
  margin: 0;
  font-family: "Fraunces", sans-serif;
  font-weight: 300;
  font-size: 1.875rem;
  border-bottom: 1.2px solid #2e3047;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 475px) {
  .header .header__wrapper .header__content .header__title {
    font-size: 2.1rem;
    border-bottom: 1.2px solid #2e3047;
  }
}
/* Medium devices (landscape tablets, 766px and up) */
@media only screen and (min-width: 766px) {
  .header .header__wrapper .header__content .header__title {
    padding-bottom: 0.2em;
    font-size: 3.5rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.card {
  -webkit-mask-image: linear-gradient(to bottom, transparent -100%, black 72%);
  mask-image: linear-gradient(to bottom, transparent -200%, black 72%);
}
.card .card__img {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.card .card__info {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}
.card .card__info .card__text {
  padding: 0.2em 0 1.8em 0;
  margin: 0;
  letter-spacing: 0.8px;
}
.card .card__info .card__links {
  display: flex;
  justify-content: space-between;
}

.info {
  padding: 1.2em 0 4.3em 0;
  width: 100%;
  max-width: 400px;
}
.info .info__socials {
  padding-top: 1.8em;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #8a8b8f;
  letter-spacing: 1.2px;
}
.info .info__icon {
  color: #2e3047;
  margin-right: 0.8em;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 767px) {
  .info {
    width: 35%;
    padding-top: 0;
  }
  .info .info__content {
    padding-top: 0;
    padding-bottom: 1.8em;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.form {
  background-color: #f8f8f8;
  padding: 2.5em 0 20vh 0;
  display: flex;
  z-index: 1;
  height: 100%;
}
.form .form__wrapper {
  margin-top: 4em;
}
.form .form__wrapper .form__params {
  width: 100%;
  background-color: #ffffff;
  box-shadow: #a39ac4 3px 3px, #b6abde 10px 10px, #fccfce 15px 15px;
}
.form .form__wrapper .form__params .form__content {
  padding: 38px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.25rem;
}
.form .form__wrapper .form__params .form__content .form__text {
  font-size: 1.15rem;
  font-weight: 100;
  color: black;
  letter-spacing: 0.25px;
  font-family: "Inter", sans-serif;
  padding-bottom: 0.6em;
}
.form .form__wrapper .info {
  margin: 0 0 100vh 0;
}

/* form */
.contact-form .contact-form__field {
  position: relative;
  margin: 30px 0 30px 0;
  padding-top: 20px;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 1.7px 0;
  border-color: black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  bottom: 11px;
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  line-height: 18px;
  font-weight: 400;
  color: #888;
  cursor: text;
  transition: transform 0.2s ease-in-out;
  padding-bottom: 0.4em;
}
.contact-form .submit-btn {
  margin-top: 0.9em;
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: Raleway, sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px 8px 16px;
  border: none;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 480px) {
  .contact-form {
    padding-top: 5px;
  }
  .contact-form .contact-form__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .contact-form .contact-form__wrapper .contact-form__name {
    width: 46.5%;
  }
  .contact-form .contact-form__wrapper .contact-form__email {
    width: 46.5%;
  }
}
/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
  .form .form__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100vh;
  }
  .form .form__wrapper .form__params {
    width: 59%;
    max-width: 40em;
  }
  .form .form__wrapper .info {
    margin: 0 0 0vh 0;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.info__content {
  padding-top: 1.8em;
}
.info__content .info__header {
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #8a8b8f;
  letter-spacing: 1.2px;
  font-weight: 200;
}
.info__content .info__subcontent {
  font-size: 0.94rem;
  text-decoration: none;
  color: #2e3047;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 480px) {
  .info__content .info__subcontent {
    font-size: 1.1rem;
  }
}
/* Medium devices (landscape tablets, 767px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.content-section-projects {
  height: 100%;
  background-color: #f8f8f8;
  padding: 5em 0 5em 0;
}
.content-section-projects .content-section-projects__title {
  font-family: "Fraunces", sans-serif;
  text-align: left;
  padding-bottom: 35px;
  font-size: 2.4em;
  font-weight: 500;
}

/* Small devices (portrait tablets and large phones, 480px and up) */
/* Medium devices (landscape tablets, 850px and up) */
@media only screen and (min-width: 850px) {
  .content-section-projects__project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .content-section-projects__project .card-left {
    width: 48.1%;
  }
  .content-section-projects__project .card-right {
    width: 48.1%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.content-section-skills {
  background: linear-gradient(45deg, #f8f8f8, #fccfce, #b6abde, #fccfce, #f8f8f8);
  background-size: 400% 400%;
  animation: gradient 18s ease-in infinite;
}
.content-section-skills .content-section-skills__wrapper {
  padding: 5em 0 5em 0;
}
.content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skill__text {
  padding: 0 0 2em 0;
}
.content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skill__text .content-section-skills__title {
  padding-bottom: 0.31em;
  font-family: "Fraunces", sans-serif;
  font-size: 2.4em;
  font-weight: 500;
}
.content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skill__text .content-section-skills__paragraph {
  padding-top: 1em;
}
.content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skills__card {
  max-width: 590px;
  margin: 0 auto;
  background-color: none;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skills__card .content__row {
  display: flex;
  flex-direction: column;
}
.content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skills__card .card__skill {
  width: 9em;
  padding-top: 1.94em;
  text-align: center;
}

/* Animations */
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
/* Small devices (portrait tablets and large phones, 520px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 865px) {
  .content-section-skills .content-section-skills__wrapper .content-section-skill__content {
    display: flex;
    justify-content: space-between;
  }
  .content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skill__text {
    width: 46%;
  }
  .content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skills__card {
    margin: 0 0;
    width: 52%;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
  }
}
/* Large devices (laptops/desktops, 910px and up) */
@media only screen and (min-width: 1174px) {
  .content-section-skills .content-section-skills__wrapper .content-section-skill__content {
    display: flex;
    flex-direction: row;
  }
  .content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skill__text {
    width: 46%;
  }
  .content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skill__text .content-section-skills__title {
    font-size: 2.4em;
  }
  .content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skills__card {
    width: 46%;
    padding: 0em 0 1.62em 0;
    flex-direction: column;
    justify-content: space-around;
  }
  .content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skills__card .content__row {
    display: flex;
    flex-direction: row;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
.box {
  font-family: "Inter", sans-serif;
}
.box .box__wrapper {
  width: 6em;
  padding-top: 2em;
  text-align: center;
}
.box .box__wrapper .box__icon {
  height: 4em;
}
.box .box__wrapper .box__text {
  text-transform: capitalize;
  font-size: 1rem;
}

/* Small devices (portrait tablets and large phones, 480px and up) */
@media only screen and (min-width: 480px) {
  .box .box__wrapper {
    width: 9em;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.content-section-contact {
  background-color: #ffffff;
  padding: 5em 0 5em 0;
  text-align: center;
}

.content-section-contact__wrapper .wrapper__header {
  font-size: 2.4em;
  font-family: "Fraunces", sans-serif;
  padding-bottom: 0.31em;
  display: flex;
  align-content: center;
  justify-content: center;
}
.content-section-contact__wrapper .wrapper__text {
  padding-bottom: 1.5em;
}
.content-section-contact__wrapper .wrapper__button {
  display: flex;
  justify-content: center;
}

.content-section-education {
  background-color: #f8f8f8;
  padding: 5em 0 5em 0;
}
.content-section-education .content-section-skills__wrapper .content-section-skills__header {
  font-family: "Fraunces", sans-serif;
  text-align: left;
  padding-bottom: 35px;
  font-size: 2.4em;
  font-weight: 500;
}

.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 2px solid rgba(31, 30, 30, 0.808);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}

.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
}

.document-display {
  padding: 5em 0 5em 0;
  background-color: #f5f5f5;
  z-index: 2;
}
.document-display .document-display__wrapper {
  border: 1px dotted #2e3047;
  padding: 0;
}

.project {
  padding: 2em 0 2.5em 0;
}
.project .project__wrapper {
  padding-bottom: 1em;
  border: 1px solid #a39ac4;
  border-radius: 18px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.project .project__wrapper .project__image {
  -webkit-mask-image: linear-gradient(to bottom, transparent -100%, black 72%);
  mask-image: linear-gradient(to bottom, transparent -100%, black 72%);
}
.project .project__wrapper .project__image .image__wrapper {
  border-radius: 15px;
  overflow: hidden;
}
.project .project__wrapper .project__title h2 {
  padding: 1.25em 0 0.1em 0;
  font-size: 1.275rem;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
}
.project .project__wrapper .project__description {
  text-align: center;
}
.project .project__wrapper .project__description p {
  font-size: 0.9rem;
}
.project .project__wrapper .project__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project .project__wrapper .project__link .link__wrapper {
  padding-top: 1em;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 1.2em;
}
.project .project__wrapper .project__link .link__wrapper .link__btn1 {
  background-color: #2e3047;
  color: #f8f8f8;
  cursor: pointer;
  border-radius: 100px;
  display: inline-block;
  padding: 0 1.5em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition-duration: 0.8s;
}
.project .project__wrapper .project__link .link__wrapper .link__btn1 .btn1__text {
  padding: 10px 0 10px 0;
  margin: 0;
}
.project .project__wrapper .project__link .link__wrapper .link__btn1:hover {
  background-color: #171823;
}
.project .project__wrapper .project__link .link__wrapper .link__btn2 {
  background-color: #ffffff;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #2e3047;
  border-radius: 100px;
  padding: 0 1em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition-duration: 0.8s;
  display: none;
}
.project .project__wrapper .project__link .link__wrapper .link__btn2 .btn2__text {
  padding: 10px;
  margin: 0;
}
.project .project__wrapper .project__link .link__wrapper .link__btn2:hover {
  background-color: #2e3047;
  color: #f8f8f8;
}

@media only screen and (min-width: 300px) {
  .project .project__wrapper .project__description p {
    font-size: 1rem;
  }
  .project .project__wrapper .wrapper .project__link .link__wrapper .link__btn1 {
    margin-right: 0.9em;
  }
  .project .project__wrapper .wrapper .project__link .link__wrapper .link__btn1 .btn1__text {
    padding: 10px 0 10px 0;
    margin: 0;
  }
  .project .project__wrapper .wrapper .project__link .link__wrapper .link__btn2 {
    display: inline-block;
  }
}
@media only screen and (min-width: 450px) {
  .project .project__wrapper .project__description p {
    font-size: 1.2rem;
  }
  .project .project__wrapper .wrapper .project__title h2 {
    font-size: 1.7rem;
  }
  .project .project__wrapper .wrapper .project__link .link__wrapper .link__btn1 {
    margin-right: 0.9em;
  }
  .project .project__wrapper .wrapper .project__link .link__wrapper .link__btn1 .btn1__text {
    padding: 10px 0 10px 0;
    margin: 0;
  }
  .project .project__wrapper .wrapper .project__link .link__wrapper .link__btn2 {
    display: inline-block;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 925px) {
  .project .project__wrapper {
    padding-bottom: 2em;
    display: flex;
    justify-content: space-between;
  }
  .project .project__wrapper .project__description p {
    font-size: 1rem;
  }
  .project .project__wrapper .project__image {
    width: 46%;
  }
  .project .project__wrapper .wrapper {
    width: 48%;
  }
  .project .project__wrapper .wrapper .project__title h2 {
    padding: 0;
    text-align: left;
    font-size: 1.6rem;
  }
  .project .project__wrapper .wrapper .project__description {
    text-align: left;
  }
  .project .project__wrapper .wrapper .project__link {
    align-items: flex-start;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.project-display {
  background-color: #ffffff;
  padding: 5em 0 1em 0;
  scroll-behavior: smooth;
}

.divider {
  margin: 2em auto 5em auto;
  width: 47%;
  border-bottom: 1px solid #b6abde;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  overscroll-behavior-y: none;
  min-height: 100%;
  background-color: #fccfce;
}

img {
  width: 100%;
}

.container {
  width: 98%;
  margin: 0 auto;
  max-width: 80.75em;
}

.row {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}