@font-face {
  font-family: "Resgak-Semi-Bold";
  src: url("../assets/fonts/Resgak/Resgak-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Felice-Bold-Italics";
  src: url("../assets/fonts/Felice-Bold/Felice-W01-Bold-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Neaue-Singular-Bold";
  src: url("../assets/fonts/NeueSingular/Fontspring-DEMO-neuesingular-h-bold.otf") format("truetype");
}
@font-face {
  font-family: "Neaue-Singular-regular";
  src: url("../assets/fonts/NeueSingular/Fontspring-DEMO-neuesingular-d-regular.otf") format("truetype");
}
@font-face {
  font-family: "Neaue-Singular-light";
  src: url("../assets/fonts/NeueSingular/Fontspring-DEMO-neuesingular-v-light.otf") format("truetype");
}
/* fonts */
/* colors */
.navbar {
  margin-top: 0.3em;
  text-align: center;
  font-family: "Neaue-Singular-regular", sans-serif;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  display: flex;
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
}

.nav__logo {
  color: #2e3047;
  cursor: pointer;
  text-decoration: none;
  flex-grow: 1;
  font-size: 1.2rem;
  width: 20%;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: space-around;
  align-content: center;
  margin: 0;
}

.nav-links {
  color: #2e3047;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-size: 0.98rem;
  align-self: center;
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #2e3047;
}

.nav-item .active {
  color: #2e3047;
  border: 0.8px solid #2e3047;
}

.navbar__icon-wrapper {
  display: none;
}

@media screen and (max-width: 766px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #eadbcd;
    filter: opacity(120%);
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #2e3047;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
    color: #2e3047;
    margin: 0;
  }
  .navbar__icon-wrapper {
    padding: 2px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    color: #2e3047;
  }
  .navbar__icon-wrapper .icon {
    cursor: pointer;
  }
}
.navbar__link--primary {
  font-family: "Neaue-Singular-light", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  word-spacing: 0.22em;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.navbar__link--primary:hover {
  text-decoration: underline;
}

.navbar__link--secondary {
  color: #ffffff;
  font-family: "Neaue-Singular-light", sans-serif;
  text-transform: capitalize;
  font-size: 1rem;
  text-decoration: none;
}

.navbar__link--secondary:hover {
  text-decoration: underline;
}

.hero {
  background-color: #eadbcd;
}
.hero .hero__wrapper {
  background: url(../assets/images/mountain-nature-bg.png);
  height: 1040px;
  color: #2e3047;
  width: 100%;
  z-index: 1;
  background-position: 0px 0px;
}
.hero .hero__wrapper .hero__content h1 {
  padding: 110px 0 1.2px 0;
  margin: 0;
  font-family: "Fraunces", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 3.2rem;
}
.hero .hero__wrapper .hero__subtitle {
  font-size: 2.35rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2em;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 570px) {
  .hero .hero__wrapper .hero__content h1 {
    padding: 140px 0 1.2px 0;
    font-size: 4rem;
  }
  .hero .hero__wrapper .hero__subtitle {
    font-size: 2.55rem;
  }
}
/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
  .hero .hero__wrapper .hero__content h1 {
    font-size: 5rem;
  }
  .hero .hero__wrapper .hero__subtitle {
    font-size: 3rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.paragraph-text {
  font-size: 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 480px) {
  .paragraph-text {
    font-size: 1.125em;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 767px) {
  .paragraph-text {
    font-size: 1.25rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.footer {
  background-color: #f8f8f8;
  height: 100%;
}
.footer .footer__header {
  padding-bottom: 2.45em;
}
.footer .footer__header .footer__title {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  color: black;
  font-size: 1.75rem;
  text-transform: capitalize;
}
.footer .footer__header .footer__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: black;
  opacity: 0.75;
  font-size: 0.875rem;
  text-transform: capitalize;
}
.footer .footer__links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.footer .footer__socials {
  padding-top: 30px;
}

.footer__column {
  list-style: none;
  padding: 0;
  width: 50%;
}

.column__link p {
  color: black;
  font-size: 14px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 478px) {
  .footer .footer__wrapper .footer__navigation {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
  }
  .footer .footer__wrapper .footer__navigation .footer__links {
    width: 70%;
  }
  .footer .footer__wrapper .footer__navigation .footer__socials {
    padding-top: 0;
    margin: 0 auto 0 0;
  }
}
/* Medium devices (landscape tablets, 766px and up) */
@media only screen and (min-width: 766px) {
  .footer .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .footer__wrapper .footer__navigation {
    margin: 0 auto;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.content-section {
  font-family: "Inter", sans-serif;
  text-align: left;
}
.content-section .content-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-section--white {
  background-color: white;
  padding: 7em 0 7em 0;
}

.content-section--grey {
  padding: 4em 0 4em 0;
  margin: auto;
  background-color: #f8f8f8;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.layout {
  background-color: #eadbcd;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout .layout__content {
  position: relative;
}
.layout .layout__content .layout__img {
  width: 90vw;
  max-width: 30em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  position: relative;
  border-radius: 26px;
}
.layout .layout__content .layout__img .layout__img--formatting {
  display: block;
}
.layout .layout__content .layout__text {
  font-family: "Neaue-Singular-light", sans-serif;
  font-size: 0.9em;
  color: #2e3047;
  padding-top: 0.2em;
  text-decoration: none;
  text-align: center;
}

.header .header__wrapper {
  height: 15.98em;
  background: url(../assets/images/mountain-nature-bg.png);
  z-index: 1;
  color: #2e3047;
}
.header .header__wrapper .header__content .header__title {
  padding-top: 125px;
  padding-bottom: 0.5em;
  margin: 0;
  font-family: "Fraunces", sans-serif;
  font-weight: 300;
  font-size: 1.875rem;
  border-bottom: 1.2px solid #2e3047;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 475px) {
  .header .header__wrapper .header__content .header__title {
    font-size: 2.1rem;
    border-bottom: 1.2px solid #2e3047;
  }
}
/* Medium devices (landscape tablets, 766px and up) */
@media only screen and (min-width: 766px) {
  .header .header__wrapper .header__content .header__title {
    padding-bottom: 0.2em;
    font-size: 3.5rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.card .card__img {
  width: 100%;
}
.card .card__text {
  padding: 1em 0;
}

.info {
  padding: 1.2em 0 4.3em 0;
  width: 100%;
  max-width: 400px;
}
.info .info__socials {
  padding-top: 1.8em;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #8a8b8f;
  letter-spacing: 1.2px;
}
.info .info__icon {
  color: #2e3047;
  margin-right: 0.8em;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 767px) {
  .info {
    width: 35%;
    padding-top: 0;
  }
  .info .info__content {
    padding-top: 0;
    padding-bottom: 1.8em;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.form {
  background-color: #f8f8f8;
  padding-bottom: 0em;
  display: flex;
  z-index: 1;
}
.form .form__wrapper {
  margin-top: 4em;
  height: 100%;
}
.form .form__wrapper .form__params {
  width: 100%;
  background-color: #ffffff;
}
.form .form__wrapper .form__params .form__content {
  padding: 38px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.25rem;
  margin: 0;
}
.form .form__wrapper .form__params .form__content .form__text {
  font-size: 1.15rem;
  font-weight: 100;
  color: black;
  letter-spacing: 0.25px;
  font-family: "Inter", sans-serif;
  padding-bottom: 0.6em;
}

/* form */
.contact-form .contact-form__field {
  position: relative;
  margin: 30px 0 30px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 1.7px 0;
  border-color: black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  bottom: 11px;
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  line-height: 18px;
  font-weight: 400;
  color: #888;
  cursor: text;
  transition: transform 0.2s ease-in-out;
  padding-bottom: 0.4em;
}
.contact-form .submit-btn {
  margin-top: 0.9em;
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: Raleway, sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px 8px 16px;
  border: none;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 480px) {
  .contact-form__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .contact-form__wrapper .contact-form__name {
    width: 46.5%;
  }
  .contact-form__wrapper .contact-form__email {
    width: 46.5%;
  }
}
/* Medium devices (landscape tablets, 767px and up) */
@media only screen and (min-width: 767px) {
  .form .form__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .form .form__wrapper .form__params {
    width: 59%;
    max-width: 40em;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.info__content {
  padding-top: 1.8em;
}
.info__content .info__header {
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #8a8b8f;
  letter-spacing: 1.2px;
  font-weight: 200;
}
.info__content .info__subcontent {
  font-size: 0.94rem;
  text-decoration: none;
  color: #2e3047;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 480px) {
  .info__content .info__subcontent {
    font-size: 1.1rem;
  }
}
/* Medium devices (landscape tablets, 767px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.content-section-projects {
  height: 100%;
  background-color: #f8f8f8;
  padding: 6.17em 0 4.17em 0;
}
.content-section-projects .content-section-projects__title {
  font-family: "Fraunces", sans-serif;
  text-align: left;
  padding-bottom: 30px;
  font-size: 2.4em;
  font-weight: 500;
}
.content-section-projects .content-section-projects__wrapper .content-section-projects__project .card + .card {
  margin-right: 10px;
}

/* Small devices (portrait tablets and large phones, 480px and up) */
@media only screen and (min-width: 480px) {
  .content-section-projects__project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .content-section-projects__project .card-left {
    width: 46%;
  }
  .content-section-projects__project .card-right {
    width: 46%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.content-section-skills .content-section-skills__wrapper {
  padding: 5em 0 5em 0;
}
.content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skill__text {
  padding: 0 0 2em 0;
}
.content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skill__text .content-section-skills__title {
  padding-bottom: 0.31em;
  font-family: "Fraunces", sans-serif;
  font-size: 2.4em;
  font-weight: 500;
}
.content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skill__text .content-section-skills__paragraph {
  padding-top: 1em;
}
.content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skills__card {
  width: 100%;
  background-color: none;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skills__card .card__skill {
  padding-top: 2.04em;
  text-align: center;
}

/* Small devices (portrait tablets and large phones, 480px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 650px) {
  .content-section-skills .content-section-skills__wrapper .content-section-skill__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skill__text {
    width: 38%;
  }
  .content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skill__text .content-section-skills__title {
    font-size: 2.4em;
  }
  .content-section-skills .content-section-skills__wrapper .content-section-skill__content .content-section-skills__card {
    width: 53.5%;
    padding: 3.8em 0 1.7em 0;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  overscroll-behavior-y: none;
  min-height: 100%;
}

img {
  width: 100%;
}

.container {
  width: 98%;
  margin: 0 auto;
  max-width: 80.75em;
}

.row {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}