@font-face {
  font-family: "Resgak-Semi-Bold";
  src: url("../assets/fonts/Resgak/Resgak-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Felice-Bold-Italics";
  src: url("../assets/fonts/Felice-Bold/Felice-W01-Bold-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Neaue-Singular-Bold";
  src: url("../assets/fonts/NeueSingular/Fontspring-DEMO-neuesingular-h-bold.otf") format("truetype");
}
@font-face {
  font-family: "Neaue-Singular-regular";
  src: url("../assets/fonts/NeueSingular/Fontspring-DEMO-neuesingular-d-regular.otf") format("truetype");
}
@font-face {
  font-family: "Neaue-Singular-light";
  src: url("../assets/fonts/NeueSingular/Fontspring-DEMO-neuesingular-v-light.otf") format("truetype");
}
.navbar {
  margin-top: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Neaue-Singular-regular", sans-serif;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 80px;
  max-width: 1500px;
}

.nav__logo {
  color: #2e3047;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  flex-grow: 1;
  font-size: 1.2rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #2e3047;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-size: 0.98rem;
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #2e3047;
}

.nav-item .active {
  color: #2e3047;
  border: 1px solid #2e3047;
}

.navbar__icon-wrapper {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #eadbcd;
    filter: opacity(120%);
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #2e3047;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
    color: #2e3047;
  }
  .navbar__icon-wrapper {
    padding: 2px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    color: #2e3047;
  }
  .navbar__icon-wrapper .icon {
    cursor: pointer;
  }
}
.navbar__link--primary {
  font-family: "Neaue-Singular-light", sans-serif;
  color: #d7f6f9;
  text-decoration: none;
  font-size: 1.6rem;
  word-spacing: 0.22em;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.navbar__link--primary:hover {
  text-decoration: underline;
}

.navbar__link--secondary {
  color: #d7f6f9;
  font-family: "Neaue-Singular-light", sans-serif;
  text-transform: capitalize;
  font-size: 1rem;
  text-decoration: none;
}

.navbar__link--secondary:hover {
  text-decoration: underline;
}

.hero {
  height: 65em;
  background-position: 70.4% 27.5%;
  color: #2e3047;
}
.hero .hero__content h1 {
  padding-top: 280px;
  margin: 0;
  font-family: "Felice-Bold-Italics", sans-serif;
  font-weight: 300;
  letter-spacing: 0.7px;
  font-size: 3.6rem;
}
.hero .hero__subtitle {
  font-size: 3rem;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-weight: bold;
  letter-spacing: 1px;
}

.paragraph-text {
  font-size: 1.3rem;
}

.content-section {
  font-family: "Trebuchet MS", sans-serif;
}

.content-section--white {
  background-color: white;
  padding: 5em 0 5em 0;
  width: 80%;
  margin: auto;
}

.content-section--grey {
  margin: auto;
  background-color: #f8f8f8;
}

.layout {
  background-color: #eadbcd;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout .layout__content {
  position: relative;
}
.layout .layout__content .layout__img {
  width: 30em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  position: relative;
}
.layout .layout__content .layout__img .layout__img--formatting {
  display: block;
}
.layout .layout__content .layout__text {
  font-family: "Neaue-Singular-light", sans-serif;
  font-size: 0.9em;
  color: #2e3047;
  padding-top: 0.2em;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
}

img {
  width: 100%;
}

.container {
  width: 88%;
  margin: 0 auto;
  max-width: 80.75em;
}