.box{
    font-family: $Inter;
    .box__wrapper{
        width: 6em;
        padding-top: 2em;
        text-align: center;
        .box__icon{
            height: 4em;
            
        }
        .box__text{
            text-transform: capitalize;
            font-size: 1rem;
        }   
    }
}


/* Small devices (portrait tablets and large phones, 480px and up) */
@media only screen and (min-width: 480px) {
    .box{
        .box__wrapper{
            width: 9em;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 650px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
