@font-face {
    font-family: 'Resgak-Semi-Bold';
    src: url("../assets/fonts/Resgak/Resgak-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: 'Felice-Bold-Italics';
    src: url("../assets/fonts/Felice-Bold/Felice-W01-Bold-Italic.ttf") format("truetype");
}
@font-face {
    font-family: 'Neaue-Singular-Bold';
    src: url("../assets/fonts/NeueSingular/Fontspring-DEMO-neuesingular-h-bold.otf") format("truetype");
}
@font-face {
    font-family: 'Neaue-Singular-regular';
    src: url("../assets/fonts/NeueSingular/Fontspring-DEMO-neuesingular-d-regular.otf") format("truetype");
}
@font-face {
    font-family: 'Neaue-Singular-light';
    src: url("../assets/fonts/NeueSingular/Fontspring-DEMO-neuesingular-v-light.otf") format("truetype");
}

/* fonts */
$font-resgak-semi-bold: 'Resgak-Semi-Bold', sans-serif;
$font-felice-bold-italics :'Felice-Bold-Italics', sans-serif;
$font-neaue-singular-bold : 'Neaue-Singular-Bold', sans-serif;
$font-neaue-regular: 'Neaue-Singular-regular',sans-serif;
$font-neaue-light: 'Neaue-Singular-light',sans-serif;

$font-trebuchet: 'Trebuchet MS', sans-serif;
$Fraunces : 'Fraunces', sans-serif;
$Inter : 'Inter', sans-serif;

/* colors */
$white : #ffffff;
$tan: #eadbcd;
$pink: #fccfce;
$light-purple: #a39ac4;
$light-purple-2:#b6abde;
$dark-purple: #747baf;

$grey : #8a8b8f;
$light-grey:#f8f8f8;
$dark-grey: #2e3047;
$darker-grey: #171823;