@import "./variables";
@import "../components/Navbar/Navbar";
@import "../components/Button/Button";
@import "../components/CustomLink/customlink";
@import "../components/Hero/hero";
@import "../components/ContentLayout/contentlayout";
@import "../components/ParagraphText/paragraphtext";
@import "../components/Footer/footer";
@import "../components/ContentSectionText/contentsectiontext";
@import "../components/IntroLayout/introlayout";
@import  "../components/Header/header";
@import  "../components/Card/card";
@import  "../components/InfoSidebar/infosidebar";
@import  "../components/Form/form";
@import "../components/InfoContent/infocontent";
@import "../components/contentsectionprojects/contentsectionprojects";
@import "../components/contentsectionskills/contentsectionskills";
@import "../components/Box/box";
@import "../components/contentsectioncontact/contentsectioncontact";
@import "../components/contentsectioninfo/contentsectioninfo";
@import "../components/Cursor/cursor";
@import "../components/DocumentDisplay/documentdisplay";
@import "../components/Project/project";
@import "../components/ProjectDisplay/projectdisplay";
@import "../components/divider/divider";
@import "../components/ContentSectionAbout/ContentSectionAbout";
@import "../components/ContentSectionSocial/ContentSectionSocial";
@import "../components/AnimatedRoutes/AnimatedRoutes";
@import "../components/notfound/notfound";
html { 
    height: 100%;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}  
* {
    box-sizing: border-box;
}
body {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    overflow-x: none ;
    overscroll-behavior-y:none;
    background-repeat: no-repeat;
    background:linear-gradient(80deg,$tan,$pink,$light-purple-2,$pink);
    background-size: 200% 200%;
    height: 100%; 
    background-attachment: fixed;
}

img {
    width: 100%;
}
.container {
    width: 98%;
    margin: 0 auto;
    max-width: 80.75em;
    
}
.row{
    display:flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}



/* Toast notification styling */

