.content-section{
    font-family: 'Trebuchet MS', sans-serif;
    
}
.content-section--white{
    
    background-color: white;
    padding: 5em 0 5em 0;
    width: 80%;
    margin: auto;
}
.content-section--grey{
    margin: auto;
    background-color: $light-grey;
}