@import "../../scss/variables";

.navbar__link--primary{
    text-transform: lowercase;
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
}
.navbar__link--primary:hover{
    text-decoration: underline;
}
.navbar__link--secondary{
    color: grey;
    text-transform: uppercase;
    font-size: 0.64rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
}
.navbar__link--secondary:hover{
    text-decoration: underline;
}