
.navbar__link--primary{
    font-family: $font-neaue-light ;
    color: $white;
    text-decoration: none;
    font-size: 1.6rem;
    word-spacing: 0.22em;
    transition: width 0.7s ease, background-color 0.5s ease;
}
.navbar__link--primary:hover{
    text-decoration: underline;
}
.navbar__link--secondary{
    color: $white;
    font-family: $font-neaue-light ;
    text-transform: capitalize;
    font-size: 1rem;
    text-decoration: none;

}
.navbar__link--secondary:hover{
    text-decoration: underline;
}